/* Styles go here */

body {
    font-family: 'Quicksand', sans-serif;
}

.container-fluid {
    margin: 0px 10px;
}

#footer {
    background-color: #222;
    padding: 40px;
}

#footerText {
    color: white;
}

.navbar {
    margin-bottom: 0px;
    padding: 30px 15px;
    transition: all .5s;
    font-size: 22px;
}

.navbar-scrolled {
    padding: 5px 15px;
    opacity: .9;
}

.navbar-header {
    padding-bottom: 15px;
}

.companySocial > li {
    display: inline;
}

#logo {
    height: 25%;
    width: 25%;
    min-height: 50px;
    min-width: 150px;
}

#polls {
    padding-bottom: 0px;
}

.badge {
    background-color: green;
}

.private {
    border-radius: 8px;
    border-style: solid;
    border-color: red;
    border-width: 1.5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.public {
    border-radius: 8px;
    border-style: solid;
    border-color: green;
    border-width: 1.5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.community {
    border-radius: 8px;
    border-style: solid;
    border-color: blue;
    border-width: 1.5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.question {
    font-weight: bold;
    font-style: italic;
}

.card {
    min-height: 360px;
    margin-bottom: 15px;
}

.cardaboveline {
    font-size: 13px;
}

.response:hover {
    transition: background-color 0.5s ease;
    background-color: #42d1f4;
}

.pic:hover {
    transition: 0.5s ease;
    width: 55%;
    height: 50%;
}

.card:hover {
    transition: background-color 0.5s ease;
    background-color: #c4cbd1;
}

hr {
    margin: 8px;
}
